<html>
<head>
<title>Add Movie</title>
</head>
<body bgcolor="Lightskyblue">
	<br>
	<br>
	<form method="POST">

		<label> Id </label> <input type="text" name="id" size="15" /> <br>
		<br> <label> Movie Name: </label> <input type="text"
			name="movie_title" size="15" /> <br> <br> <label>
			Lead Actor: </label> <input type="text" name="lead_actor" size="15" /> <br>
		<br> <label> Movie Duration </label> <input type="text"
			name="movie_duration" size="15" /> <br> <br> <label>
			Ticket Price: </label> <input type="text" name="ticket_price" size="15" /> <br>
		<br> <input type="button" value="Submit" />

	</form>
	</body>
</html>